$whiteTextColor:#FAF9F9;
$redContentColor:#e03131;
$fontSize_S:0.9rem;
$fontSize_M:2.5rem;
$fontSize_M_SP:1.25rem;
$fontSize_L:4.5rem;
$fontSize_L_SP:2rem;

@mixin textVerticalCenter($lineh){
    line-height: $lineh;
    align-items: center;
}

@mixin headlineCss($height,$lineh,$fontSize){
    .headline{
        height:$height;
        width: 100%;
        h1{
            color:$whiteTextColor;
            font-size: $fontSize;
            font-weight:900;
            @include textVerticalCenter($lineh);
            text-align: center;
        }
    }
}

@mixin enclosure{
        content: '';
        width: 30px;
        height:25px;
        position: absolute;
}

@mixin widthRule{
    width:100%;
    max-width:1000px;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Helvetica Neue",Arial,"Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}

.header{
    height:60px;
    width: 100%;
    nav{
        float:right;
        margin-right: 40px;
        ul{
            display: flex;
            li{
                color: $whiteTextColor;
                font-weight: bold;
                font-size:$fontSize_S;
                a{
                    @include textVerticalCenter(60px);
                    // line-height: 60px;
                    // align-items: center;
                    text-shadow: 1px 1px 3px #000;
                    transition: all 0.3s;
                    &:hover{
                        color: $redContentColor;
                    }
                }
                & + li{
                    margin-left: 25px;
                }
            }
        }
    }
}

.main-visual{
    height: 100vh;
    width:100%;
    background-image: url(../media/mainvisual.jpeg);
    background-size: cover;
    position:relative;
    img{
        position:absolute;
        max-width: 95%;
        top:50%;
        left: 50%;
        transform:translateX(-50%);
    }
}

.menu{
    margin-top:20px;
    background-image: url(../media/menu_bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include headlineCss(300px,300px,$fontSize_L);
    .lineup{
        background-color: #fff;
    }
}

.menu_contents{
    @include widthRule();
    margin: 0 auto;
    padding-top:100px;
    padding-bottom:200px;
    display: flex;
    .leftside{
        border-right: 1px solid #000;
    }
    .leftside,.rightside{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: $fontSize_M;
            font-weight: bold;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom:-15px;
                left:0;
                width:100%;
                height:5px;
                background-color: $redContentColor;
            }
        }
        ul{
            width: 100%;
        }
        p{
            font-size: $fontSize_S;
            display: inline-block;
        }
    }
}

.menu_lists{
    margin-top: 90px;
    padding-left: 45px;
    li+li{
        margin-top: 25px;
    }
    li{
        display: flex;
        justify-content: space-between;
    }
    .name{
        border-bottom: 1px dashed #000;
        line-height: 1.8em;
        flex:1;
    }
    .price{
        width: 90px;
        padding-left:20px;
        position: relative;
        top:10px;
    }
    
}

.rightside{
    .categori:nth-of-type(2){
        margin-top: 100px;
    }
}

.about{
    background-image: url(../media/about_bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include headlineCss(300px,300px,$fontSize_L);
    .description{
        background-color: #fff;
    }
}

.description_detail{
    @include widthRule();
    margin: 0 auto 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        font-size: $fontSize_M;
        font-weight: bold;
        position: relative;
        text-align: center;
        display: inline-block;
        margin:100px auto 120px;
        &::after{
            content: '';
            position: absolute;
            bottom:-15px;
            left:0;
            width:100%;
            height:5px;
            background-color: $redContentColor;
        }
    }

    .description_text{
        display: flex;
        flex-direction: column;
        font-size: $fontSize_S;
        line-height: 25px;
        max-width: 95%;
        margin: 0 auto;
        margin-bottom: 70px;
        .upper,.lower{
            display: flex;
            flex-direction: row;
            .leftpart,.rightpart{
                display: inline-block;
                width: 48%;
                margin: 0 auto;
                &>:nth-child(1){
                    font-weight: bold;
                    margin-bottom:5px;
                }
            }
        }
        .lower{
            margin-top: 60px;
        }
    }
    .readmore{
        margin:0 auto;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        position: relative;
        &::before{
            @include enclosure();
            border-top: 2px solid $redContentColor;
            border-left: 2px solid $redContentColor;
            top:0;
            left:-45px;
            transition:all 0.2s;
        }
        &::after{
            @include enclosure();
            border-bottom: 2px solid $redContentColor;
            border-right: 2px solid $redContentColor;
            bottom:0;
            right:-45px;
            transition:all 0.2s;
        }
        &:hover{
            cursor: pointer;
            &::before,&::after{
                width: 166px;
                height: inherit;
                pointer-events: none;
            }
        }

    }
}

.location{
    background-image: url(../media/location_bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include headlineCss(300px,300px,$fontSize_L);
    .map{
        background-color: #fff;
    }
}

.map_zone{
    @include widthRule();
    margin: 0 auto 180px;
    padding-top:110px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2.categori{
        font-size: $fontSize_M;
        font-weight: bold;
        position: relative;
        text-align: center;
        display: inline-block;
        margin:0 auto 95px;
        &::after{
            content: '';
            position: absolute;
            bottom:-15px;
            left:0;
            width:100%;
            height:5px;
            background-color: $redContentColor;
        }
    }
    .map_contents{
        width: 100%;
        max-width:97%;
        margin: 0 auto;
        .map_google{
            display: flex;
            justify-content: center;
            width: 100%;
            iframe{
                margin: 0 auto;
                width: 100%;
                height:400px;
                filter:grayscale(100%);
            }
        }
        .supplement{
            widows: 100%;
            margin-top: 30px;
            p{
                font-size: $fontSize_S;
                display: block;
                text-align: left;
                line-height: 1.5em;
            }
            p+p{
                margin-top: 20px;
            }
        }
    }
}

footer{
    .copyright{
        text-align: center;
        font-size: 0.5rem;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:767px) {

    .menu{
        margin-top:10px;
        background-image: url(../media/menu_bg_sp.png);
        background-size:cover;
        background-attachment: local;
        background-position-y: top;    
        @include headlineCss(90px,90px,$fontSize_L_SP);    
    }
    
    .menu_contents{
        flex-direction: column;
        padding-top:40px;
        padding-bottom: 110px;
        .leftside,.rightside{
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            h2{
                font-size: $fontSize_M_SP;
            }
        }    
    }

    .leftside{
        border-right: none;
    }
    .rightside{
        .categori:nth-of-type(2){
            margin-top: 45px;
        }
        .categori{
            margin-top: 45px;
        }
    }

    .menu_lists{
        margin-top: 45px;
        padding-left: 0;
        .price{
            padding-left: 0;
            width:13%;
            text-align: right;
        }
    }
    .about{
        background-attachment: local;    
        @include headlineCss(90px,90px,$fontSize_L_SP);
        h2{
            font-size: $fontSize_M_SP;
        }
    }
    .description_detail{
        margin-bottom: 80px;
        .categori{
            margin:35px auto 55px;
        }
        .description_text{
            max-width: 95%;
            margin: 0 auto;
            margin-bottom: 20px;
            .upper,.lower{
                flex-direction: column;
                .leftpart,.rightpart{
                    display: inline-block;
                    width: 100%;
                    &>:nth-child(1){
                        margin-bottom:5px;
                    }
                    &>:nth-child(2){
                        margin-bottom:40px;
                    }
                }
            }
            .lower{
                margin-top: 0;
            }
        }    
    }

    .location{
        background-attachment: local;    
        @include headlineCss(90px,90px,$fontSize_L_SP);
        .map_zone{
            margin: 0 auto 90px;
            padding-top:40px;
            h2.categori{
                font-size: $fontSize_M_SP;  
                margin-bottom: 35px;
            }
        }
    }

}

